.text img {
    display: none;
}

.imageNormal img {
    max-width: 400px;
    min-width: 250px;
    max-height: 400px;
    min-height: 250px;
    margin-left: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
    cursor: pointer;
    display: flex;
}

.text {
    margin-left: 40px;
    margin-right: 40px;
}

.category p{
    display: flex;
    justify-content: center;
    font-style: oblique;
}

.date {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin: 40px;
    margin-bottom: 80px;
    font-style: oblique;
}

.post li {
   font-family: 'Josefin Sans';
    line-height: 3;
}

.btn {
    display: flex;
    margin-bottom: 60px;
}

#comment-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#comment-form input {
    width: 350px;
    height: 30px;
    background-color: #EBDBD3;
    border: 1px solid #707070;
    margin-bottom: 30px;
}

#comment-form label {
    font-family: 'Josefin Sans', sans-serif;
    color: #262521;
    line-height: 2;
}

#comment-form textarea {
   max-width: 600px;
   min-width: 400px;
   height: 250px;
   background-color: #EBDBD3;
   border: 1px solid #707070;
}

.btn2 {
    margin: 50px;
    background-color: #EBDBD3;
}

@media (max-width: 800px) {

    .imageNormal img {
        margin: 0px auto;
        justify-content: center;
        display: flex;
        margin-bottom: 50px;
        max-width: 300px;
        min-width: 250px;

     }
    
     .text img {
        display: none;
     }

     .post li {
        line-height: 0;
        display: inline-block;
     }
}

@media (max-width: 500px) {

    .imageNormal img {
       max-width: 200px;
    }
}