h1 {
    font-size: 80px;
    margin: 50px;
    margin-left: 120px;
}

.contact_content {
    display: flex;
    flex-direction: row;
}

.contact_why,
.contact_image {
    margin-left: 60px;
    margin-right: 60px;
    flex: 1;
}

.contact_why {
    display: flex;
    flex-direction: column;
}

.contact_image img {
    max-width: 70%;
    min-width: 40%;
}

.formContainer {
    display: flex;
    justify-content: center;
}

.form_flex {
    display: flex;
    flex-direction: row; 
    margin-top: 60px;   
}


.form1 {
    margin-bottom: 49px;
}

.form_part1 {
    margin-right: 60px;
    width: auto;
    text-align: end;
    display: flex;
    flex-direction: column;
    width: 350px;
    margin-top: 5px;
}

.form_part2 {
    width: 350px;
    margin-left: 60px;
    display: flex;
}

label {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    color: #262521;
}

input,
textarea {
    background-color: #F8E4DF;
    border: 1px solid #707070;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    min-width: 250px;
}

textarea {
    height: 260px;
    width: 230px;
}

.form-error {
    display: none;
    color: rgb(186, 21, 21);
    font-size: 1rem;
    margin-top: 0;
}

.btn {
    display: block;
    margin-top: 40px;
    margin-bottom: 70px;
}

 #btn:checked~ .messageYou {
    display: block;
 }

.messageYou {
    background-color: #F2F2F2;
    height: 400px;
    width: 400px;
    margin: 0 auto; 
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    right: 50%;
    top: 70%;
}

.messageYou h1 {
    font-size: 30px;
}

.messageYou img {
    margin-left: 180px;
    margin-right: 180px;
    margin-bottom: 20px;
}

.messageYou a {
    
    font-size: 20px;
    font-weight: bolder;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
}

@media (max-width: 800px) {

    h1 {
        font-size: 60px;
        margin: 30px;
        text-align: center;
    }


    .contact_content {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .contact_image {
        justify-content: center;
        display: flex;
    }

    .form_flex {
       display: flex;
       flex-direction: column;
    }

    .form_part {
        width: 100%;
    }
   
    .form_part1 {
        width: 300px;
        
    }

    .form_part1,
    .form_part2 {
        margin: auto;
        text-align: center;
    }

    .messageYou {
        top: 110%;
    }
}