#hero {
    position: relative;
    margin: 0;
}

.header1 { 
    background: linear-gradient(rgba(244, 237, 237, 75%), rgba(244, 237, 237, 75%)),url('/images/header.jpeg');
    background-size: cover;
    background-repeat: repeat;
    height: 40vh;
    color: #F4EDED;
}

h1 {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 33%;
    background-color: #f2f2f284;
}

.search {  
   display: inline-flex;
   gap: 15px;
   position: absolute;  
   right:0;
   margin-top: 30px;
   margin-right: 30px;
}

.welcome {
    display: flex;
    flex-direction: row;
}

.welcomeContainer,
.welcome_image {
    margin-left: 60px;
    margin-right:60px;
    flex: 1;
}

h3 {
    margin-bottom: 50px;
} 
.welcome img {
    max-width: 70%;
    min-width: 40%;
}

.image img{
    max-width: 200px;
    max-height: 150px;
    margin-top: 30px;
    justify-content: center;
}

.carusel {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #707070;
  background-color: #f2c1b62e;
  align-items: center;
}

.carousel_holder {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    width: 100vw;
    position: relative;
}

#blog_post_carousel {
    position: relative;
    min-height: 620px;
    overflow: hidden;
    width: 100vw;
}

#carousel_container {
    position: absolute;
    display: flex;
    flex-direction: row;
}

.carusel p {
    font-weight: lighter;
    color: #707070;
    margin: 15px;
}

.caruselChange {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 4rem;
    background-color: #F2C1B6;
    border: none;
    width: 2rem;
    font-size: 3rem;
    padding: 3px;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 100ms;   
    transform: scale(1.1);    
}

.caruselChange p {
    line-height: 0;
    margin: auto;
    color: #262521;
}

.go_post p {
    margin-bottom: 10px;
}

.caruselChange:hover,
.caruselChange:focus {
    opacity: 0.7;
}

#caruselPrev {
    left: 0;
    width: fit-content; 
    height: 100px;
}

#caruselNext {   
    right: 0;
    width:fit-content;
    height: 90px;
}

footer {
  margin-top: 60px !important;
}


@media (max-width: 800px) {

    .header1 {
        background: linear-gradient(rgba(244, 237, 237, 67%), rgba(244, 237, 237, 67%)), url('/images/snail-house-header.png');
        background-position: center;
        height: 30vh;
        background-repeat: no-repeat;
        margin: 0;
    } 

    .welcome {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
     }

    .welcome_image {
        justify-content: center;
        display: flex;
        margin-bottom: 50px;
    }

    .search {
            display: flex;
            flex-direction: column;
            gap: 15px;
            position: relative;
            margin-top: 200px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            align-items: center;
            
    }

     #blog_post_carousel {
            position: relative;
            min-height: 700px;
    }
}

@media (max-width: 600px) {

    .carousel_holder {
        display: flex;
        flex-direction: column;
        align-items: center;  
        gap: 30px;
    }

    .carusel {
        width: 50%; 
    }

    #blog_post_carousel {
      min-height: 1280px;
    }
}