#hero {
    position: relative;
    margin: 0;
}

.header1 { 
    background: linear-gradient(rgba(244, 237, 237, 75%), rgba(244, 237, 237, 75%)),url('/images/header.jpeg');
    background-size: cover;
    background-repeat: repeat;
    height: 40vh;
    color: #F4EDED;
}

h1 {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 33%;
    background-color: #f2f2f284;
}

.welcome {
    display: flex;
    flex-direction: row;
}

.welcome_text,
.welcome_image {
    margin-left: 60px;
    margin-right:60px;
    flex: 1;
}

.welcome img {
    max-width: 70%;
    min-width: 40%;
}

.blog_carusel {
    height: 300px;
}

@media (max-width: 800px) {

    .header1 {
        background: linear-gradient(rgba(244, 237, 237, 67%), rgba(244, 237, 237, 67%)), url('/images/snail-house-header.png');
        background-position: center;
        height: 30vh;
        background-repeat: no-repeat;
        margin: 0;
    } 

    .welcome {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
     }

    .welcome_image {
        justify-content: center;
        display: flex;
        margin-bottom: 50px;
    }
}