.modal {  
    display: none;
    width: 500px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    right: 50%;
    top: 48%;  
    z-index: 1;
}

.bigImage img {
    max-width: 500px;
    min-width: 350px;
    max-height: 500px;
    min-height: 350px;
} 
