h1 {
   font-family: 'Pacifico', sans-serif;
    color: #A67665;
}

h2 {
    font-family: 'Dancing Script', sans-serif;
}

h3,
h4 {
    font-family: 'Josefin Sans', sans-serif;
    color: #262521;
}

p,
a {
    font-family: 'Josefin Sans', sans-serif;
    color: #262521;
    line-height: 2; 
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;

}

h1 {
    font-size: 85px;
}

h2 {
    font-size: 40px;
    padding: 30px;
    color: #262521;
    text-align: center;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    margin-left: 60px;
    margin-top: 50px;
}

h4 {
    text-align: center;
}

.menu {
    display: inline-block;
    /* float: left; */
    margin: 0;
    padding: 0;
    background-color:#EBDBD3;
    width: 100%;
    height: 90px;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
} 

nav { 
    display: flex;
    flex-direction: column;
}

.menu a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    margin: 15px;
}

nav li {
    display: inline-block;
    padding-top: 30px;
}

nav ul {
    margin: 0;
} 

#hamburger-menu {
    display: none;
}

.bars {
    display: none;
}

.btn {
    padding: 8px 20px;
    border-radius: 40px;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    width: 130px;
    margin: 0 auto;
    text-decoration: none;
    background-color: #F2C1B6;
    border: 1px solid #707070;
    cursor: pointer;
}

.btn2 {
    padding: 2px 6px;
    border-radius: 2px;
    flex-direction: column;
    text-align: center;
    width: 80px;
    margin: 0 auto;
    text-decoration: none;
    background-color: #F2C1B6;
    border: 1px solid #707070;
    cursor: pointer;
    font-size: 14px;
}

footer {
    background-color: #EBDBD3;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    display: flex;
    justify-content: center;
    height: 100%;
    text-align: center;
}

.footer_contact,
.footer_sosial {
    margin: 40px;
}

.copy {
    margin:70px;
}

.sosial img {
    height: 35px;
    margin-left: 25px;
}

.sosial1,
.sosial2,
.sosial3,
.sosial4 {
    display:inline-flex;
    cursor: pointer;
}

.footer_sosial {
    display: flex; 
    flex-direction: row;
}

.footer_contact a {
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

.footer_contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sosial_text p {
    font-weight: bold;
}

.close {
    display: none;
}

@media (max-width: 870px) {

    h1 {
        font-size: 70px;
    }
}

@media (max-width: 800px) {

    .deteskop,
    #hamburger-menu {
        display: none;
    }

   .bars,
   .close {
       display: inline-block;
       padding-top: 80px;
       position: absolute;
       transform: translate(-50%, -50%);
       left: 51%;
       cursor: pointer;
   }

   nav {
       display: flex;
       flex-direction: column;
   }

   .menu a {
     line-height: 0;
   }

    #hamburger-menu:checked ~ nav {
        display: block;
    }

    #overlay {
        position: absolute;
        display: none;
        width: 100%;
        height: 700px;
        background-color: #EBDBD3;
        z-index: 2;
    }

    #hamburger-menu:checked ~ nav li {
        display:flex;
        flex-direction: row;
        padding-top: 30px;
    }

    li {
       display: inline-block;
        justify-content: center;
        margin: 40px;
    }

    h1 {
        font-size: 60px;
       
    }

    .footer_contact,
    .footer_sosial,
    .copy {
       margin: 30px;
    }

    .footer_sosial {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .sosial img {
        margin-left: 0px;
        margin: 20px;
    }        
 }
    
 @media (max-width: 620px) {
            
    h1 {
        font-size: 50px;
    }
 }
    
 @media (max-width: 510px) {
            
    h1 {
        font-size: 40px;
        
    }
 }

  @media (max-width: 410px) {

      h1 {
          font-size: 35px;

      }
  }
 

